ul {
    list-style: none;
    justify-content: center;
}

.btn-sujimon {
    background-color: #2b0107;
}

.btn-sujimon:hover {
    background-color: #670310;
    color: rgb(180, 176, 176);
}

#mainCharacterList {
    color: white;
}

.card-header {
    text-align: center;
    font-size: x-large;
    background-color: #2b0107;
}

.card img {
    width: 300px;
    height: 300px;
}

#mainCharacterList .card-body {
    background-color: #8e201c;
}

#mainCharacterList li .card-body {
    background-color: #2b0107;
    color: white;
}