ul {
    list-style: none;
    justify-content: center;
}

.btn-sujimon {
    background-color: #2b0107;
}

.btn-sujimon:hover {
    background-color: #670310;
    color: rgb(180, 176, 176);
}

#mainCharacterList {
    color: white;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.494);
}

.card-header {
    text-align: center;
    font-size: x-large;
    background-color: #2b0107;
}

.card img {
    width: 300px;
    height: 300px;
}

#mainCharacterList .card-body {
    background-color: #641613;
}

#mainCharacterList li .card-body {
    background-color: #710717;
    color: white;
    border-style: solid;
    border-color: gold;
    border-width: 2px;
    border-radius: 2%;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.722);
}